extends ../common/app


block content
    form(action="api/create" method="POST" enctype="multipart/form-data" autocomplete='off').accordion
        .accordion-item
            button.accordion-button.fs-4(data-bs-toggle='collapse' data-bs-target='collapseDepartment') Departamento
                i.bi-check-circle.ms-3.text-sucess#departmentCheck
                input(readonly type='hidden' name='department' value=process.session.user.department).form-control.text-dark#selectedDepartment
            #collapseDepartment.accordion-collapse 
                .accordion-body.d-flex.d-inline-flex.flex-wrap.justify-content-around
                    each department in departments
                        if department._id != process.session.user.department
                            .card.m-2(data-department=department._id)
                                .card-header.text-center=department.department
                                .card-body
                                    if department.departmentImage
                                        div(style=`height: 150px; min-width: 150px; background-image: url(/department/${department.departmentImage}); background-size: contain; background-position: center; background-repeat:no-repeat; `)
                                    else
                                        div(style='height: 150px; min-width: 150px').position-relative
                                            .fs-2.text-center.position-absolute.top-50.start-50.translate-middle= department.department
                        else
                            .card.m-2.bg-primary(data-department=department._id) 
                                .card-header.text-center=department.department
                                .card-body
                                    if department.departmentImage
                                        div(style=`height: 150px; min-width: 150px; background-image: url(/department/${department.departmentImage}); background-size: contain; background-position: center; background-repeat:no-repeat; `)
                                    else
                                        div(style='height: 150px; min-width: 150px').position-relative
                                            .fs-2.text-center.position-absolute.top-50.start-50.translate-middle= department.department
        .accordion-item 
            button.accordion-button.fs-4(data-bs-toggle='collapse' data-bs-target='collapseDetails') Detalhes do chamado
                i.bi-exclamation-circle.bi-check-circle.ms-3.text-danger#detailsCheck
            
            #collapseDetails.accordion-collapse.collapse.show.w-100
                .accordion-body.d-flex.d-inline-flex.flex-wrap.justify-content-around.w-100
                    input(type='hidden' name='user' value=process.session.user._id )
                    .input-group
                        label(for="description").input-group-text.col-2 Descrição
                        textarea(type="text" required name='description').form-control#description

                    .btn-group.mt-3.w-100
                        label(for="").input-group-text.col-2 Prioridade
                        input(type="radio" value='1' name='priority' checked).btn-check#priority1
                        label(for="priority1" ).btn.btn-outline-primary.text-dark 1
                        input(type="radio" value='2' name='priority').btn-check#priority2
                        label(for="priority2" ).btn.btn-outline-warning.text-dark 2
                        input(type="radio" value='3' name='priority').btn-check#priority3
                        label(for="priority3" ).btn.btn-outline-danger.text-dark 3

                    .input-group.mt-3 
                        label(for="attachments").input-group-text.col-2  Anexos 
                        input(type="file", name="attachments", multiple).form-control#attachments
                    
                    .input-group.mt-3 
                        button(type="submit").btn.btn-primary.ms-auto.ps-5.pe-5 Registrar

    script(src='/js/ticketCreate.js')