extends ../common/app
block content 
    link(rel="stylesheet", href="/css/ticket-list.css")

    .fs-2.mb-4= `Olá ${process.session.user.username}, seus chamados:`
    .d-none.d-md-block
        table.table.table-hover.table-bordered.mt-5
            thead 
                tr.text-center
                    th(width='50') ID 
                    th(width='40') Prioridade
                    th(width='120') Data
                    th(width='700') Problema 
                    th(width='') Requerente
                    th(width='') Status 
                    th(width='') Ações 
            tbody
                each ticket, index in tickets 
                    tr.text-center
                            td=  tickets.length - index
                            td.position-relative
                                if ticket.priority == 3
                                    span.badge.rounded-circle.bg-danger.p-2.position-absolute.start-50.top-50.translate-middle
                                        span 
                                if ticket.priority == 2
                                    span.badge.rounded-circle.bg-warning.p-2.position-absolute.start-50.top-50.translate-middle
                                        span 
                                if ticket.priority == 1
                                    span.badge.rounded-circle.bg-success.p-2.position-absolute.start-50.top-50.translate-middle
                                        span 
                            td= moment(ticket.date).format('DD-MM-YYYY')
                            td= ticket.description
                            td= ticket.user.username
                            td= ticket.status
                            td
                                div.btn-group(role='group')
                            
                                    button.btn.btn-warning.lightning-ans-btn
                                        i.bi.bi-lightning
                                        .end-100.bottom-50.position-absolute.me-2.border.bg-light.p-3.fast-answer
                                            form(action="api/createMov", method="post").d-flex.flex-column
                                                label(for="answer").form-label.text-start.text-dark Interação rápida
                                                textarea#answer(name="description" required).form-control
                                                input(type="hidden", name="ticket" value=ticket._id)
                                                .form-group.d-flex.justify-content-start
                                                    input#finished(type="checkbox", name="finished").me-1
                                                    label(for='finished') Encerrar
                                                input(type="submit", value="Responder").btn.btn-success.mt-2.justify-content-end 
                                    a(href='/ticket/view/'+ticket._id).btn.btn-success
                                            i.bi.bi-search
                                    a(href='/ticket/delete/'+ticket._id).btn.btn-danger
                                            i.bi.bi-trash
                else 
                    tr 
                        td(colspan='7').text-center Não existem chamados em aberto!
    
    div.d-md-none
        .accordion  
            each ticket, index in tickets 
                .accordion-item(style='min-height: 70px')
                
                    button.accordion-button.position-relative.fs-4(data-bs-toggle='collapse' data-bs-target=`ticket${index}` style='min-height: 70px')
                        if ticket.priority == 3
                            span.badge.rounded-circle.bg-danger.p-2.position-absolute.top-50.translate-middle
                                span 
                        if ticket.priority == 2
                            span.badge.rounded-circle.bg-warning.p-2.position-absolute.top-50.translate-middle
                                span 
                        if ticket.priority == 1
                            span.badge.rounded-circle.bg-success.p-2.position-absolute.top-50.translate-middle
                                span 
                        div.ps-3
                            .fs-4= `${ticket.department} - ${ticket.user.username}`
                            if ticket.description.length > 25
                                small= ticket.description.substring(0,25)+'...'
                            else
                                small= ticket.description

                .accordion-collapse.collapse.w-100.bg-light(id=`ticket${index}`)
                    .accordion-body.d-flex.d-inline-flex.flex-wrap.justify-content-around.w-100
                        p.text-start.w-100= ticket.description

                        a(href='/ticket/view/'+ticket._id)
                                    span.badge.bg-success Abrir
                        small.text-end.w-100= moment(ticket.date).format('DD-MM-YYYY')

    script(src='/js/ticketCreate.js')